//Theme


//Fontawesome
$fa-font-display: swap;

//Bootstrap
$primary: #d60007;
$body-bg: #e0e0e0;
$border-radius: 0;
$border-color: #a6a6a6;
$nav-tabs-border-color: $border-color;
$nav-tabs-link-hover-border-color: transparent;
$nav-tabs-link-active-border-color: $border-color;
