{% extends 'base.html.twig' %}

{% block content %}
    <div id="ie-error-wrapper">
        <div class="alert alert-danger" role="alert" id="error-alert">
            <strong>Your Browser is not supported!</strong> Please use a modern browser, like the latest Chrome/Firefox. <br>
            <a href="https://www.mozilla.org/">Download Firefox</a><br>
            <a href="https://www.google.de/chrome/">Download Chrome</a>
        </div>
    </div><!-- /#ie-error-wrapper -->
{% endblock %}
